.settings-list {
  display: flex;
  flex-direction: column;
}
.settings-setting {
  padding: 20px 0;
  border-bottom: var(--main-border);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}
.settings__setting-column:last-of-type {
  opacity: 0.5;
}
