.icon-row {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}
.icon-row__icon:hover {
  cursor: pointer;
  color: black;
}

.icon-row__icon-find {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  transition: color 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}
.icon-row__icon-find:hover {
  cursor: pointer;
  color: black;
}
.icon-row__icon-find i {
  font-size: 32px;
}
